@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}
.container {
  width: 350px;
  border: 3px solid black;
}
.avatar img {
  width: 100%;
}
h1 {
  font-size: 25px;
  padding: 15px 5px;
}

.bio p {
  font-size: 15px;
  line-height: 1.5;
}
.skillContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.skill {
  /* No need for inline-block here */
  width: auto; /* Adjust width to fit content */
  padding: 10px;
  border: 1px solid #ccc; /* Optional: border for visibility */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  border-radius: 10px;
}
